<div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{data.pageinfo.title}}
                    <small>{{data.pageinfo.subheading}}</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Contact</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-8">
                <!-- Embedded Google Map -->
                <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
            </div>
            <!-- Contact Details Column -->
            <div class="col-md-4">
                <h3>{{data.contactdetails.title}}</h3>
                <p>
                   {{data.contactdetails.address}}<br>{{data.contactdetails.city}}<br>
                </p>
                <p><i class="fa {{data.contactdetails.phoneclass}}"></i> 
                    <abbr title="Phone">P</abbr>: {{data.contactdetails.phonenumber}}</p>
                <p><i class="fa {{data.contactdetails.envelopclass}}"></i> 
                    <abbr title="Email">E</abbr>: <a href="mailto:name@example.com">{{data.contactdetails.email}}</a>
                </p>
                <p><i class="fa fa-clock-o"></i> 
                    <abbr title="Hours">H</abbr>: {{data.contactdetails.dataandtime}}</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="#"><i class="fa fa-2x {{}}" ng-repeat="socialshare in data.socialshares"></i></a>
                    </li> 
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <!-- Contact Form -->
        <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
        <div class="row">
            <div class="col-md-8">
                <h3>Send us a Message</h3>
                <form name="sentMessage" id="contactForm" novalidate autocomplete="off">
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Full Name:</label>
                            <input type="text" class="form-control" id="name" ng-required="true" ng-model="username" name="username"> 
                            <p class="help-block" ng-show="sentMessage.username.$dirty && sentMessage.username.$invalid && !sentMessage.username.$pristine">Please enter your name.</p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Phone Number:</label>
                            <input type="tel" class="form-control" ng-model="phonenumber" name="phonenumber" id="phone" ng-required="true" >
                        </div>
                        <p class="help-block" ng-show="sentMessage.$submitted && sentMessage.phonenumber.$dirty && sentMessage.phonenumber.$invalid && !sentMessage.phonenumber.$pristine">Please enter your phone number.</p>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Email Address:</label>
                            <input type="email" class="form-control" name="email" ng-model="email" id="email" ng-required="true" >
                        </div>
                        <p class="help-block" ng-show="sentMessage.email.$dirty && sentMessage.email.$invalid && !sentMessage.email.$pristine">Please enter your email address.</p>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Message:</label>
                            <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary" ng-disabled="sendMessage.$invalid">Send Message</button>
                    
                </form>
            </div>

        </div>
        <!-- /.row --> 

    </div>