<div class="container wiki">
	<div class="row">
		<div class="main">
			<h1>Search for the Queries</h1> 

			<div>
				<input id="search" type="search" name="searchquery" class="form-control" ng-keyup="onSearch($event);"> 
			</div>

		    <div class="results">
	            <ul>
	                <li ng-repeat="result in results"><a ng-href="https://en.wikipedia.org/?curid={{result.pageid}}" target="_blank"><h2>{{ result.title }}</h2><p>{{ result.extract }}</p>
	                <p><img src={{result.thumbnail.source}} alt=""></p></a></li>
	            </ul>
       		 </div>

		</div>

		<!-- Testing -->
<friendslist>	</friendslist>

	</div>
</div>

